.sort-by-label {
    margin-right: 1rem;
}

.sort-by-select {
    padding: 0.35rem;
    border-radius: 8px;
    margin-left: 1rem;
}

.sort-order-label {
    margin-right: 1rem;
}

.sort-order-select {
    padding: 0.35rem;
    border-radius: 8px;
    margin-left: 1rem;
}


@media screen and (max-width: 655px) {
    .sort-container {
        display: flex;
        flex-direction: column;
    }

    .sort-order-select {
        margin-top: .2rem;
    }
}